body {
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: darkred;
}

.guessForm {
    visibility: hidden;
}

.header {
    color: white;
    font-family: futura;
    font-size: 40px;
}

.start {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: futura;
    font-size: 50px;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin-top: 40%;
}

/* .textBox {

} */

.submitBtn {
    font-family: futura;
}

.resultsContainer {
    display: flex;
    align-items: center;
    color: white
}

.score {
    font-size: 30px;
}

.incorrect img {
    max-width: 100px;
}